<div class="container">
  <% if current_user %>  
    <h1> List of Users: </h1>
    <% @users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  <% else %>
    <h1> Welcome! </h1>
  <% end %>

  
  <%# TODO: 
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>
</div>
